@model IEnumerable<SchoolSchedule.DAL.Entities.TeacherAndLesson>
@{
    ViewData["Title"] = "GetTeacher";
    var teacherId = Model.Select(x => x.Teacher.Id).FirstOrDefault();
    var teacherName = Model.Select(x => x.Teacher.FullName).FirstOrDefault();
}

<div class="col-md-12">
    <div class="row col-md-12 text-center">
        <div class="col" style="">
            <div class="card">
                <center class="container">
                    <img src="https://img.icons8.com/?size=512&id=ZOdk4UpxtfwA&format=png"
                         class="img-fluid" width="100" alt="@teacherName" title="@teacherName"/>
                </center>
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">@teacherName преподаёт:</h5>
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model)
                            {
                                <li class="list-group-item list-group-item-info">
                                    <div class="row">
                                        <div class="col-md-6">@item.LessonName</div>
                                        <div class="col-md-6">
                                            <button class="btn btn-outline-danger" 
                                                    onclick="deletePair({url:'@Url.Action("DeletePair")', teacherId: '@item.TeacherId', lessonName: '@item.LessonName'})">Удалить</button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer">
                        <form class="form-group col-md-8" align="left">
                            <div>
                                <label class="form-label">Предмет</label>
                                <input type="text" class="form-control" id="inputLessonName" title="Введите название предмета"/>
                            </div>
                            <br/>
                            <button class="btn btn-primary btn-lg" 
                                    onclick="createPair({url:'@Url.Action("CreatePair")',teacherId: '@teacherId', lessonName: $('#inputLessonName').val() })">
                                Добавить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






